In [104]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [105]:
%%sql

sqlite:///CourseData.db

'Connected: @CourseData.db'

In [108]:
%%sql

PRAGMA table_info(DATASET1);

 * sqlite:///CourseData.db
Done.

[(0, 'program_code', 'TEXT', 0, None, 0),
 (1, 'program_name', 'TEXT', 0, None, 0),
 (2, 'catalog_id', 'TEXT', 0, None, 0),
 (3, 'course_title', 'TEXT', 0, None, 0),
 (4, 'credits', 'TEXT', 0, None, 0),
 (5, 'prereqs', 'TEXT', 0, None, 0),
 (6, 'coreqs', 'TEXT', 0, None, 0),
 (7, 'fees', 'TEXT', 0, None, 0),
 (8, 'attributes', 'TEXT', 0, None, 0),
 (9, 'description', 'TEXT', 0, None, 0)]

In [109]:
%%sql

DROP TABLE IF EXISTS INSTRUCTOR;
DROP TABLE IF EXISTS COURSE_MEETINGS;
DROP TABLE IF EXISTS COURSE_OFFERINGS;
DROP TABLE IF EXISTS COURSE_CATALOG;
DROP TABLE IF EXISTS TIMECODE;
DROP TABLE IF EXISTS LOCATION;
DROP TABLE IF EXISTS PROGRAM;

 * sqlite:///CourseData.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [110]:
%%sql 

CREATE TABLE INSTRUCTOR(
    IID INTEGER PRIMARY KEY,
    NAME TEXT NOT NULL
);

 * sqlite:///CourseData.db
Done.

[]

In [111]:
%%sql

CREATE TABLE TIMECODE(
    TCID INTEGER PRIMARY KEY,
    Timecode TEXT NOT NULL
);

 * sqlite:///CourseData.db
Done.

[]

In [112]:
%%sql

CREATE TABLE LOCATION(
    LID INTEGER PRIMARY KEY,
    Location TEXT NOT NULL
);

 * sqlite:///CourseData.db
Done.

[]

In [113]:
%%sql

CREATE TABLE PROGRAM(
    PID INTEGER PRIMARY KEY,
    ProgramName TEXT NOT NULL
);

 * sqlite:///CourseData.db
Done.

[]

In [114]:
%%sql 

CREATE TABLE COURSE_CATALOG(
    CatalogID INTERGER PRIMARY KEY, 
    PID INT NOT NULL,
    Section TEXT NOT NULL,
    Credits VARCHAR NOT NULL,
    Term TEXT NOT NULL,
    Title TEXT NOT NULL,
    PreReqs TEXT,
    Attributes TEXT,
    Description TEXT,
    FOREIGN KEY (PID) REFERENCES PROGRAM(PID)
);

 * sqlite:///CourseData.db
Done.

[]

In [115]:
%%sql 

CREATE TABLE COURSE_OFFERINGS(
    COID INTEGER PRIMARY KEY,
    CRN INTERGER NOT NULL,
    Term TEXT NOT NULL,
    CatalogID TEXT NOT NULL,
    Section TEXT NOT NULL,
    Credits VARCHAR NOT NULL,
    Title TEXT NOT NULL, 
    Meetings TEXT NOT NULL,
    IID INTERGER NOT NULL,
    Cap INTERGER NOT NULL,
    Act INTERGER NOT NULL,
    Rem INTERGER NOT NULL,
    FOREIGN KEY (IID) REFERENCES INSTRUCTOR (IID),
    FOREIGN KEY (CatalogID) REFERENCES COURSE_CATALOG(CatalogID)
);

 * sqlite:///CourseData.db
Done.

[]

In [116]:
%%sql

CREATE TABLE COURSE_MEETINGS(
    CMID INTEGER PRIMARY KEY,
    LID INTEGER NOT NULL,
    TCID INTEGER NOT NULL,
    Term TEXT NOT NULL,
    CRN INTERGER NOT NULL,
    Day TEXT NOT NULL,
    Start TEXT NOT NULL,
    End TEXT NOT NULL,
    FOREIGN KEY (LID) REFERENCES LOCATION(LID)
    FOREIGN KEY (TCID) REFERENCES TIMECODE(TCID)
);

 * sqlite:///CourseData.db
Done.

[]