In [2]:
%load_ext sql

In [3]:
%%sql

sqlite:///CourseData.db

'Connected: @CourseData.db'

In [16]:
%%sql

DROP TABLE IF EXISTS INSTRUCTOR;
DROP TABLE IF EXISTS PROGRAM_CODE;
DROP TABLE IF EXISTS COURSE_MEETINGS;
DROP TABLE IF EXISTS COURSE_OFFERINGS;
DROP TABLE IF EXISTS COURSE_CATALOG;
DROP TABLE IF EXISTS TIMECODES;
DROP TABLE IF EXISTS LOCATION;

 * sqlite:///CourseData.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [6]:
%%sql 

CREATE TABLE INSTRUCTOR(
    IID INTEGER PRIMARY KEY,
    Primary_Instructor TEXT NOT NULL
);

 * sqlite:///CourseData.db
Done.

[]

In [7]:
%%sql

CREATE TABLE TIMECODES(
    TCID INTEGER PRIMARY KEY,
    TIMECODES TEXT NOT NULL
);

 * sqlite:///CourseData.db
Done.

[]

In [8]:
%%sql

CREATE TABLE LOCATION(
    LID INTEGER PRIMARY KEY,
    Location TEXT NOT NULL
);

 * sqlite:///CourseData.db
Done.

[]

In [10]:
%%sql

CREATE TABLE PROGRAM_CODE(
    ProgramCode TEXT NOT NULL,
    ProgramName TEXT NOT NULL,
    PRIMARY KEY (ProgramCode)
);

 * sqlite:///CourseData.db
Done.

[]

In [11]:
%%sql

CREATE TABLE COURSE_MEETINGS(
    Term TEXT NOT NULL,
    CRN INTERGER NOT NULL,
    Location TEXT NOT NULL,
    Start TEXT NOT NULL,
    End TEXT NOT NULL
);

 * sqlite:///CourseData.db
Done.

[]

In [13]:
%%sql 

CREATE TABLE COURSE_OFFERINGS(
    CRN INTERGER NOT NULL,
    Term TEXT NOT NULL,
    CatalogID TEXT NOT NULL,
    Section TEXT NOT NULL,
    Credits VARCHAR NOT NULL,
    Title TEXT NOT NULL, 
    Meetings TEXT NOT NULL,
    IID INTERGER NOT NULL,
    Cap INTERGER NOT NULL,
    Act INTERGER NOT NULL,
    Rem INTERGER NOT NULL,
    PRIMARY KEY (CRN),
    FOREIGN KEY (IID) REFERENCES INSTRUCTOR (IID),
    FOREIGN KEY (CatalogID) REFERENCES COURSE_CATALOG(CatalogID)
);

 * sqlite:///CourseData.db
Done.

[]

In [15]:
%%sql 

CREATE TABLE COURSE_CATALOG(
    CatalogID INTERGER PRIMARY KEY, 
    ProgramCode TEXT NOT NULL,
    CourseTitle TEXT NOT NULL,
    Credits VARCHAR NOT NULL,
    PreReqs TEXT ,
    Attributes TEXT ,
    DESCRIPTION TEXT ,
    FOREIGN KEY (ProgramCode) REFERENCES PROGRAM_CODE(ProgramCode)
);

 * sqlite:///CourseData.db
Done.

[]