In [2]:
# Loading the 'sql' extension for use throughout the notebook
%load_ext sql

In [60]:
# Connecting to the database
%%sql

sqlite:///CourseData.db

'Connected: @CourseData.db'

In [66]:
# Making sure that the tables with the imported data are there
%%sql

PRAGMA table_info(DATASET1);

 * sqlite:///CourseData.db
Done.

[(0, 'program_code', 'TEXT', 0, None, 0),
 (1, 'program_name', 'TEXT', 0, None, 0),
 (2, 'catalog_id', 'TEXT', 0, None, 0),
 (3, 'course_title', 'TEXT', 0, None, 0),
 (4, 'credits', 'TEXT', 0, None, 0),
 (5, 'prereqs', 'TEXT', 0, None, 0),
 (6, 'coreqs', 'TEXT', 0, None, 0),
 (7, 'fees', 'TEXT', 0, None, 0),
 (8, 'attributes', 'TEXT', 0, None, 0),
 (9, 'description', 'TEXT', 0, None, 0)]

In [90]:
# Dropping all tables if they exist
%%sql

DROP TABLE IF EXISTS INSTRUCTOR;
DROP TABLE IF EXISTS COURSE_MEETINGS;
DROP TABLE IF EXISTS COURSE_OFFERINGS;
DROP TABLE IF EXISTS COURSE_CATALOG;
DROP TABLE IF EXISTS TIMECODE;
DROP TABLE IF EXISTS LOCATION;
DROP TABLE IF EXISTS PROGRAM;

 * sqlite:///CourseData.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [91]:
# Create the 'Instructor' table
%%sql 

CREATE TABLE INSTRUCTOR(
    IID INTEGER PRIMARY KEY,
    NAME TEXT NOT NULL
);

 * sqlite:///CourseData.db
Done.

[]

In [92]:
# Create the 'Timecode' table
%%sql

CREATE TABLE TIMECODE(
    TCID INTEGER PRIMARY KEY,
    Timecode TEXT NOT NULL
);

 * sqlite:///CourseData.db
Done.

[]

In [93]:
# Create the 'Location' table
%%sql

CREATE TABLE LOCATION(
    LID INTEGER PRIMARY KEY,
    Location TEXT NOT NULL
);

 * sqlite:///CourseData.db
Done.

[]

In [94]:
# Create the Program table
%%sql

CREATE TABLE PROGRAM(
    PID INTEGER PRIMARY KEY,
    ProgramName TEXT NOT NULL
);

 * sqlite:///CourseData.db
Done.

[]

In [95]:
# Create the 'Coure_Catalog' table
%%sql 

CREATE TABLE COURSE_CATALOG(
    CatalogID INTERGER PRIMARY KEY, 
    PID INT NOT NULL,
    Section TEXT NOT NULL,
    Credits VARCHAR NOT NULL,
    Term TEXT NOT NULL,
    Title TEXT NOT NULL,
    PreReqs TEXT,
    Attributes TEXT,
    Description TEXT,
    FOREIGN KEY (PID) REFERENCES PROGRAM(PID)
);

 * sqlite:///CourseData.db
Done.

[]

In [96]:
# Create the 'Course_Offerings' table
%%sql 

CREATE TABLE COURSE_OFFERINGS(
    COID INTEGER PRIMARY KEY,
    CRN INTERGER NOT NULL,
    Term TEXT NOT NULL,
    CatalogID TEXT NOT NULL,
    Section TEXT NOT NULL,
    Credits VARCHAR NOT NULL,
    Title TEXT NOT NULL, 
    Meetings TEXT NOT NULL,
    IID INTERGER NOT NULL,
    Cap INTERGER NOT NULL,
    Act INTERGER NOT NULL,
    Rem INTERGER NOT NULL,
    FOREIGN KEY (IID) REFERENCES INSTRUCTOR (IID),
    FOREIGN KEY (CatalogID) REFERENCES COURSE_CATALOG(CatalogID)
);

 * sqlite:///CourseData.db
Done.

[]

In [97]:
# Create the 'Course_Meetings' table
%%sql

CREATE TABLE COURSE_MEETINGS(
    CMID INTEGER PRIMARY KEY,
    LID INTEGER NOT NULL,
    TCID INTEGER NOT NULL,
    Term TEXT NOT NULL,
    CRN INTERGER NOT NULL,
    Day TEXT NOT NULL,
    Start TEXT NOT NULL,
    End TEXT NOT NULL,
    FOREIGN KEY (LID) REFERENCES LOCATION(LID)
    FOREIGN KEY (TCID) REFERENCES TIMECODE(TCID)
);

 * sqlite:///CourseData.db
Done.

[]