In [31]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

#### Connecting to the Database

In [32]:
%%sql

sqlite:///CourseData.db

'Connected: @CourseData.db'

#### Using this cell to show us the columns in a quick and efficient manner

In [33]:
%%sql

PRAGMA table_info(DATASET3);

 * sqlite:///CourseData.db
Done.

[(0, 'term', 'TEXT', 0, None, 0),
 (1, 'crn', 'TEXT', 0, None, 0),
 (2, 'catalog_id', 'TEXT', 0, None, 0),
 (3, 'section', 'TEXT', 0, None, 0),
 (4, 'credits', 'TEXT', 0, None, 0),
 (5, 'title', 'TEXT', 0, None, 0),
 (6, 'meetings', 'TEXT', 0, None, 0),
 (7, 'timecodes', 'TEXT', 0, None, 0),
 (8, 'primary_instructor', 'TEXT', 0, None, 0),
 (9, 'cap', 'TEXT', 0, None, 0),
 (10, 'act', 'TEXT', 0, None, 0),
 (11, 'rem', 'TEXT', 0, None, 0)]

### Creating Tables ###

We are going to create 6 tables that will populate our database.

In [35]:
%%sql 

CREATE TABLE INSTRUCTOR(
    IID INTEGER PRIMARY KEY,
    Name TEXT NOT NULL
);

 * sqlite:///CourseData.db
Done.

[]

In [36]:
%%sql

CREATE TABLE LOCATION(
    LID INTEGER PRIMARY KEY,
    Location TEXT NOT NULL
);

 * sqlite:///CourseData.db
Done.

[]

In [37]:
%%sql

CREATE TABLE PROGRAM(
    PID INTEGER PRIMARY KEY,
    ProgramName TEXT NOT NULL
);

 * sqlite:///CourseData.db
Done.

[]

In [38]:
%%sql 

CREATE TABLE COURSE_CATALOG(
    CatalogID INTEGER NOT NULL, 
    PID INTEGER NOT NULL,
    Credits VARCHAR NOT NULL,
    Title TEXT NOT NULL,
    PreReqs TEXT,
    Attributes TEXT,
    Description TEXT,
    FOREIGN KEY (PID) REFERENCES PROGRAM(PID)
);

 * sqlite:///CourseData.db
Done.

[]

In [39]:
%%sql 

CREATE TABLE COURSE_OFFERINGS(
    COID INTEGER PRIMARY KEY,
    CRN INTEGER NOT NULL,
    Term TEXT NOT NULL,
    CatalogID TEXT NOT NULL,
    Section TEXT NOT NULL,
    Credits VARCHAR NOT NULL,
    Title TEXT NOT NULL, 
    Meetings TEXT NOT NULL,
    IID INTEGER NOT NULL,
    Cap INTEGER NOT NULL,
    Act INTEGER NOT NULL,
    Rem INTEGER NOT NULL,
    FOREIGN KEY (IID) REFERENCES INSTRUCTOR (IID),
    FOREIGN KEY (CatalogID) REFERENCES COURSE_CATALOG(CatalogID)
);

 * sqlite:///CourseData.db
Done.

[]

In [40]:
%%sql

CREATE TABLE COURSE_MEETINGS(
    CMID INTEGER PRIMARY KEY,
    LID INTEGER NOT NULL,
    Term TEXT NOT NULL,
    CRN INTEGER NOT NULL,
    Day TEXT NOT NULL,
    Start TEXT NOT NULL,
    End TEXT NOT NULL,
    FOREIGN KEY (LID) REFERENCES LOCATION(LID)
);

 * sqlite:///CourseData.db
Done.

[]

### Populating Database with Data ###

We are going to now populate the database with the data that we have imported into the 3 DATASET tables.

- DATASET1
- DATASET2
- DATASET3

In [41]:
%%sql

INSERT INTO PROGRAM (ProgramName)
    SELECT DISTINCT program_name
    FROM DATASET1;

 * sqlite:///CourseData.db
83 rows affected.

[]

In [42]:
%%sql

INSERT INTO INSTRUCTOR (Name)
    SELECT DISTINCT primary_instructor
    FROM DATASET3;

 * sqlite:///CourseData.db
1105 rows affected.

[]

In [43]:
%%sql

INSERT INTO LOCATION (Location)
    SELECT DISTINCT location
    FROM DATASET2;

 * sqlite:///CourseData.db
979 rows affected.

[]

In [44]:
%%sql

INSERT INTO COURSE_CATALOG (PID, CatalogID, Title, PreReqs, Attributes, Description, Credits)
    SELECT PID, catalog_id, course_title, prereqs, attributes, description, credits
    FROM DATASET1 c
    INNER JOIN PROGRAM d ON d.ProgramName=c.program_name;

 * sqlite:///CourseData.db
4441 rows affected.

[]

In [45]:
%%sql

INSERT INTO COURSE_OFFERINGS(CRN, Term, CatalogID, Section, Credits, Title, Meetings, IID, Cap, Act, Rem)
    SELECT crn, term, catalog_id, section, credits, title, meetings, IID, cap, act, rem
    FROM DATASET3 c
    INNER JOIN INSTRUCTOR i ON c.primary_instructor=i.name;

 * sqlite:///CourseData.db
15955 rows affected.

[]

In [46]:
%%sql

INSERT INTO COURSE_MEETINGS (LID, Term, CRN, Day, Start, End)
    SELECT LID, term, crn, day, start, end
    FROM DATASET2 c
    INNER JOIN LOCATION l ON c.location=l.Location;

 * sqlite:///CourseData.db
318862 rows affected.

[]

#### Cleaning up the mess

In [48]:
%%sql

vacuum;

 * sqlite:///CourseData.db
Done.

[]